name: Flutter Release Build

on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build Flutter Release Bundle
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.0'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Android Release App Bundle (.aab)
        run: flutter build appbundle --release

      # Optional: Upload the AAB as an artifact
      - name: Upload .aab Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-aab
          path: build/app/outputs/bundle/release/app-release.aab
